<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Index Page</title>
    </head>
    <body>
        <p>Hello {{ user.username }}!</p>
        <a href="{% url 'translations:original-add' %}">新しい翻訳依頼</a>
        <h3 class="details">翻訳リクエスト一覧</h3>
    {% if page_obj %}
        <ul>
        {% for original in page_obj %}
            <li>ステータス: {{ original.get_status_display }} 
                <a href="{% url 'translations:original-detail' original.id %}">{{ original.text }}</a>
                {% if original.is_status_editable %}
                    <a href="{% url 'translations:original-update' original.id %}">Update</a>
                    <form action="{% url 'translations:original-update-status' original.id %}" method='POST'>
                        {% csrf_token %}
                        {% if original.status == editable_status.DRAFT %}
                            <button type="submit" name="request_translation" class="btn btn-primary btn-sm" value="">翻訳依頼</button>
                        {% elif original.status == editable_status.WAITING_FOR_ACTION %}
                            <button type="submit" name="save_as_draft" class="btn btn-primary btn-sm" value="">下書きに戻す</button>
                        {% endif %}
                    </form>
                    <form action="{% url 'translations:original-delete' original.id %}" method='POST'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm" value="">削除</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>過去の翻訳リクエストがありません。</p>
    {% endif %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </body>
</html>
