<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Index Page</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>新しい翻訳リクエストを追加</h3>
                    <form action="{% url 'translations:add-original-text' %}" method='POST'>
                        {% csrf_token %}
                        {{original_text_form.as_p}}
                        <button type="submit" class="btn btn-primary btn-sm" value=""> Save</button>
                    </form>
                </div>
            </div>
        </div>
        <h3 class="details">過去の翻訳リクエスト</h3>
    {% if latest_original_text_list %}
        <ul>
        {% for original_text in latest_original_text_list %}
            <li><a href="{% url 'translations:detail' original_text.id %}">{{ original_text.text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>過去の翻訳リクエストがありません。</p>
    {% endif %}
    </body>
</html>
