<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Index Page</title>
    </head>
    <body>
        <p>Hello {{ user.username }}!</p>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>新しい翻訳リクエストを追加</h3>
                    <form action="{% url 'translations:original-text-add' %}" method='POST'>
                        {% csrf_token %}
                        {{original_text_form.as_p}}
                        <button type="submit" class="btn btn-primary btn-sm" value=""> Save</button>
                    </form>
                </div>
            </div>
        </div>
        <h3 class="details">過去の翻訳リクエスト</h3>
    {% if page_obj %}
        <ul>
        {% for original_text in page_obj %}
            <li>ステータス: {{ original_text.get_status_display }} 
                <a href="{% url 'translations:original-text-detail' original_text.id %}">{{ original_text.text }}</a>
                <!-- ステータスが下書き・対応待ちでない時にUpdate表示させない -->
                <a href="{% url 'translations:original-text-update' original_text.id %}">Update</a>
                <form action="{% url 'translations:original-text-delete' original_text.id %}" method='POST'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm" value="">Delete</button>
                </form>
            </li>
        {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>過去の翻訳リクエストがありません。</p>
    {% endif %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </body>
</html>
