<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Details Page</title>
    </head>
    <body>
        <!-- ステータスが下書き・対応待ちでない時にUpdate表示させない -->
        <a href="{% url 'translations:original-text-update' original_text.id %}">Update</a>
        <form action="{% url 'translations:original-text-delete' original_text.id %}" method='POST'>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm" value="">Delete</button>
        </form>
        <h1>{{ original_text.text }}</h1>
        <h2>{{ original_text.extra_info }}</h2>
        <ul>
        {% for translated_text in original_text.translated_text_set.all %}
            <div class="box">{{ translated_text.text }}</div>
        {% endfor %}
        </ul>
    </body>
</html>
